.main {
    margin: 0px 80px;
}

.InfiniteCarouselArrowIcon {
    border: solid #c1c1c1;
    padding: 17px;
    border-width: 0 9px 9px 0;
    border-radius: 5px;
}

.InfiniteCarouselSlide img {
    width: 85%;
}

.shoesText>p {
    color: #000000;
    font-size: 25px;
    margin-top: -25px;
    margin-left: 50px;
    text-align: left;
    font-weight: 600;
}