    .main__footer {
        height: 650px;
        background-color: #f9f6fd;
    }
    
    .footer__components {
        width: 60%;
        margin: 0% 20%;
        display: flex;
    }
    
    .shoes__component {
        width: 33%;
        height: 600px;
    }
    
    .shoes__component p {
        margin-top: 45px;
        font-size: 35px;
        font-weight: 700;
        margin-bottom: 15px;
    }
    
    .Shoes__list {
        width: 30%;
        margin: 0% 35%;
        text-align: left;
    }
    
    .Shoes__list h1 {
        color: #717171;
        font-size: 25px;
        cursor: pointer;
    }
    
    .Policies__component {
        width: 33%;
        height: 600px;
    }
    
    .Policies__component p {
        margin-top: 45px;
        font-size: 35px;
        font-weight: 700;
        margin-bottom: 15px;
    }
    
    .policies__list {
        width: 70%;
        margin: 0% 15%;
        text-align: left;
    }
    
    .policies__list h1 {
        color: #717171;
        font-size: 25px;
        cursor: pointer;
    }
    
    h1 {
        transition-duration: 0.4s;
    }
    
    h1:hover {
        transform: scale(1.1);
    }
    
    .follow__component {
        width: 33%;
        margin-top: 175px;
    }
    
    .follow__component h1 {
        color: #717171;
    }
    
    .nohover {
        pointer-events: none;
    }
    
    .icon__list {
        margin-top: 30px;
    }
    
    .icon__list2 {
        margin-top: 20px;
    }
    
    .all__icons {
        cursor: pointer;
        transition-duration: 0.4s;
    }
    
    .all__icons:hover {
        transform: scale(1.3);
    }